<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css" crossorigin="anonymous"/>
        <link rel="stylesheet" href="../css/main.css" crossorigin="anonymous"/>
        <link href="../css/open-iconic-bootstrap.min.css" rel="stylesheet"/>
        <link href="../css/bootstrap-toc.min.css" rel="stylesheet"/>
        <link
        rel="shortcut icon" type="image/png" href="./cubstart.ico"/>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../js/jquery.min.js" crossorigin="anonymous"></script>
        <script src="../js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script src="../js/bootstrap-toc.min.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'nav.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>