<footer class="page-footer" style="background: #F4F4F4; text-align: center">
    <img
        src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/branding/cubstart.png"
        style=" object-fit: none; transform: scale(0.15); transform-origin: left top; margin-bottom: -250px; margin-right:
            -165px; "
        height="300px"
        width="205px"/> Questions? Send us an email: cubstart@calhacks.io
</footer>