<nav class="navbar navbar-light navbar-expand-md align-items-center">
    <div class="container container-nav">
        <img
            src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/branding/cubstart.png"
            style=" object-fit: none; transform: scale(0.11); transform-origin: left top; margin-bottom: -260px; margin-right:
                -175px; "
            height="300px"
            width="205px"/>
        <a class="navbar-brand brand-berkeley" href="/">
            Cubstart DeCal</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#schedule">
                        Schedule
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#staff">
                        Staff
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#syllabus">
                        Syllabus
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>