<div class="course-staff">
    <h3 class="cubstart-color" style="margin: 1.5rem 0 2.5rem">
        Lecturers
    </h3>
    <div class="staff-section">
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/alexlu.jpg"
                height="150px"
                width="auto"/>
            <h4>Alex Lu</h4>
            <h5>alu@berkeley.edu</h5>
            <h6>Lecturer</h6>
            <p>Hi! My name is Alex, and I’m a 3rd year studying CS and Linguistics. In my free I enjoy knitting pillows, trying new
                foods, and running. Feel free to reach out about anything iOS :)</p>
        </div>
        <div class="staff-member">
            <img src="https://bit.ly/30CBsqa" height="150px" width="auto"/>
            <h4>Brandon Wang</h4>
            <h5>wangb@berkeley.edu</h5>
            <h6>Lecturer</h6>
            <p>Hi there, I'm glad to be teaching in-person this semester. I'm excited for you all to experience the projects I've
                designed. I'm a second-year CS and Data Science major. Ask me if you have questions about the course, recruitment, or
                life.</p>
        </div>
    </div>
    <h3 class="cubstart-color" style="margin: 1.5rem 0 2.5rem">
        Teaching Assistants
    </h3>
    <div class="staff-section">
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/khushi.jpg"
                height="150px"
                width="auto"/>
            <h4>Khushi Desai</h4>
            <h5>khushipdesai@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hi I'm Khushi, and I am a Junior with a Computer Science major and a Data Science minor. I love teaching, painting,
                cooking, hiking and recently started picking up the ukelele!</p>
        </div>
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/tony.jpg"
                style="object-fit: cover"
                height="150px"
                width="150px"/>
            <h4>Tony Hong</h4>
            <h5>tshong@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hello! I'm Tony and I'm currently a sophomore studying EECS. Some of my academic interests are mobile development and
                machine learning. I also enjoy playing badminton, watching kdramas/anime, and listening to music during my free time.</p>
        </div>
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/pranati.jpg"
                height="150px"
                width="auto"/>
            <h4>Pranati Kuppa</h4>
            <h5>pranatikuppa@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hey! I'm Pranati, a junior studying CS. I’ve been helping teach iOS dev in Cubstart since my sophomore year, so I’m
                really happy to be back this semester! Feel free to reach out and chat anytime :-)</p>
        </div>
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/jordan.jpg"
                style="object-fit: cover; object-position: 40% 50%"
                height="150px"
                width="150px"/>
            <h4>Jordan Yee</h4>
            <h5>jordantyee@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hi! My name is Jordan. I'm a second year studying EECS and Business/Economics. I'll be helping in the iOS labs this
                semester. Excited to meet everyone! Feel free to shoot me an email if you have any questions!</p>
        </div>
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/anshul.JPG"
                height="150px"
                width="150px"
                style="object-fit:cover;"/>
            <h4>Anshul Paul</h4>
            <h5>anshulpaul@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hi! My name is Anshul. I'm a second year studying EECS and Business. I'll be helping in the web labs this semester.
                Excited to meet everyone! Feel free to shoot me an email if you have any questions!</p>
        </div>
    </div>
</div>