<div class="course-staff">
    <h3 class="cubstart-color" style="margin: 1.5rem 0 2.5rem">
        Lecturers
    </h3>
    <div class="staff-section">
        <div class="staff-member">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQGIdHo5sSfofw/profile-displayphoto-shrink_400_400/0/1641987386132?e=1647475200&v=beta&t=PLi9UQj4-j3gSFa7HHhgef6RW_2aQ7EjTKIdhlp50WU" height="150px" width="auto"/>
            <h4>Brandon Wang</h4>
            <h5>wangb@berkeley.edu</h5>
            <h6>Lecturer</h6>
            <p>Hi, I'm Brandon. I'm glad to be teaching in-person this semester. I'm a second-year CS and Data Science major. Ask me if you have questions about the course, recruitment, or
                life in general.</p>
        </div>
    </div>
    <h3 class="cubstart-color" style="margin: 1.5rem 0 2.5rem">
        Teaching Assistants
    </h3>
    <div class="staff-section">
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/alexlu.jpg"
                height="150px"
                width="auto"/>
            <h4>Alex Lu</h4>
            <h5>alu@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hi! My name is Alex, and I’m a 3rd year studying CS and Linguistics. In my free I enjoy knitting pillows, trying new
                foods, and running. Feel free to reach out about anything iOS :)</p>
        </div>
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/khushi.jpg"
                height="150px"
                width="auto"/>
            <h4>Khushi Desai</h4>
            <h5>khushipdesai@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hi I'm Khushi, and I am a Junior with a Computer Science major and a Data Science minor. I love teaching, painting,
                cooking, hiking and recently started picking up the ukelele!</p>
        </div>
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/pranati.jpg"
                height="150px"
                width="auto"/>
            <h4>Pranati Kuppa</h4>
            <h5>pranatikuppa@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hey! I'm Pranati, a junior studying CS. I’ve been helping teach iOS dev in Cubstart since my sophomore year, so I’m
                really happy to be back this semester! Feel free to reach out and chat anytime :-)</p>
        </div>
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/anshul.JPG"
                height="150px"
                width="150px"
                style="object-fit:cover;"/>
            <h4>Anshul Paul</h4>
            <h5>anshulpaul@berkeley.edu</h5>
            <h6>Lab TA</h6>
            <p>Hi! My name is Anshul. I'm a second year studying EECS and Business. I'll be helping in the web labs this semester.
                Excited to meet everyone! Feel free to shoot me an email if you have any questions!</p>
        </div>
        <div class="staff-member">
            <img
                src="https://calhacks-sierra.s3-us-west-2.amazonaws.com/assets/profile_images/arushi.jpg"
                height="150px"
                width="auto"/>
            <h4>Arushi Somani</h4>
            <h5>arushisomani@berkeley.edu</h5>
            <h6>Content Creation</h6>
            <p>Hey everyone! I'm Arushi, a junior studying CS and Econ who enjoys indie music, astronomy, and building communities!
                I love talking about all things web-dev and CS and Berkeley and life and internships and startups and whatever! I wanna
                help you out however I can. Let's chat!</p>
        </div>
        <div class="staff-member">
            <img src="https://bit.ly/3E7s5g1" height="150px" width="auto"/>
            <h4>Matthew Lee</h4>
            <h5>matthewlee3@berkeley.edu</h5>
            <h6>Content Creation</h6>
            <p>Hi there! I'm Matthew, a first year at UC Berkeley majoring in Computer Science and Data Science. When I’m not
                building web development projects or working on Berkeley things, I enjoy hiking, visiting museums, and watching
                basketball games.</p>
        </div>
    </div>
</div>